In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
pd.read_csv('AAPL.csv')

            date     close       volume      open      high       low
0     2016/11/04  108.8400   30790930.0  108.5300  110.2500  108.1100
1     2016/11/03  109.8300   26538700.0  110.9800  111.4600  109.5500
2     2016/11/02  111.5900   28174980.0  111.4000  112.3500  111.2300
3     2016/11/01  111.4900   43403760.0  113.4600  113.7700  110.5300
4     2016/10/31  113.5400   26378910.0  113.6500  114.2300  113.2000
5     2016/10/28  113.7200   36792100.0  113.8700  115.2100  113.4500
6     2016/10/27  114.4800   31396130.0  115.3900  115.8600  114.1000
7     2016/10/26  115.5900   66028640.0  114.3100  115.7000  113.3100
8     2016/10/25  118.2500   46820600.0  117.9500  118.3600  117.3100
9     2016/10/24  117.6500   23492650.0  117.1000  117.7400  117.0000
10    2016/10/21  116.6000   22527690.0  116.8100  116.9100  116.2800
11    2016/10/20  117.0600   24100150.0  116.8600  117.3800  116.3300
12    2016/10/19  117.1200   19977160.0  117.2500  117.7600  113.8000
13    2016/10/18  117.4700   24308210.0  118.1800  118.2100  117.4500
14    2016/10/17  117.5500   23583810.0  117.3300  117.8400  116.7800
15    2016/10/14  117.6300   35626020.0  117.8800  118.1700  117.1300
16    2016/10/13  116.9800   35041820.0  116.7900  117.4400  115.7200
17    2016/10/12  117.3400   37512930.0  117.3500  117.9800  116.7500
18    2016/10/11  116.3000   63963010.0  117.7000  118.6900  116.2000
19    2016/10/10  116.0500   36087910.0  115.0200  116.7500  114.7200
20    2016/10/07  114.0600   24336440.0  114.3100  114.5600  113.5100
21    2016/10/06  113.8900   28508710.0  113.7000  114.3400  113.1300
22    2016/10/05  113.0500   21400410.0  113.4000  113.6600  112.6900
23    2016/10/04  113.0000   29707270.0  113.0600  114.3100  112.6300
24    2016/10/03  112.5200   21634520.0  112.7100  113.0500  112.2800
25    2016/09/30  113.0500   36340670.0  112.4600  113.3700  111.8000
26    2016/09/29  112.1800   35850010.0  113.1600  113.8000  111.8000
27    2016/09/28  113.9500   29608390.0  113.6900  114.6400  113.4300
28    2016/09/27  113.0900   24587490.0  113.0000  113.1800  112.3400
29    2016/09/26  112.8800   29800240.0  111.6400  113.3900  111.5500
...          ...       ...          ...       ...       ...       ...
2488  2006/12/18   12.2100  180354704.0   12.5179   12.5714   12.0843
2489  2006/12/15   12.5314  184717805.0   12.7171   12.7457   12.4757
2490  2006/12/14   12.6500  207962222.0   12.7214   12.8571   12.6086
2491  2006/12/13   12.7214  213872954.0   12.5621   12.7243   12.4500
2492  2006/12/12   12.3057  258538568.0   12.6586   12.6914   12.2186
2493  2006/12/11   12.6786  124689567.0   12.7000   12.7571   12.5786
2494  2006/12/08   12.6086  196005729.0   12.4614   12.7700   12.4286
2495  2006/12/07   12.4343  251176805.0   12.8071   12.9286   12.4143
2496  2006/12/06   12.8329  159343498.0   12.9493   13.0557   12.8100
2497  2006/12/05   13.0386  165658480.0   13.0936   13.1900   12.9814
2498  2006/12/04   13.0171  177391043.0   13.1257   13.1500   12.9286
2499  2006/12/01   13.0457  198734050.0   13.1143   13.1900   12.8714
2500  2006/11/30   13.0943  217539765.0   13.1736   13.2400   13.0086
2501  2006/11/29   13.1143  289214747.0   13.2857   13.3071   12.8929
2502  2006/11/28   13.1157  258995598.0   12.9093   13.1386   12.8443
2503  2006/11/27   12.7914  268557671.0   13.2143   13.3084   12.7857
2504  2006/11/24   13.0900  129737899.0   12.7900   13.2971   12.7857
2505  2006/11/22   12.9014  167982900.0   12.7129   12.9643   12.5500
2506  2006/11/21   12.6571  155562377.0   12.4886   12.6571   12.4443
2507  2006/11/20   12.3529  141895573.0   12.2000   12.4286   12.1714
2508  2006/11/17   12.2643  116226285.0   12.1636   12.2771   12.1429
2509  2006/11/16   12.2300  173424632.0   12.1243   12.3286   12.0886
2510  2006/11/15   12.0071  163255589.0   12.1507   12.2714   12.0000
2511  2006/11/14   12.1429  147220684.0   12.1143   12.1429   11.9857
2512  2006/11/13   12.0500  112638154.0   11.8886   12.0643   11.8057
2513  2006/11/10   11.8743   92336678.0   11.9357   11.9429   11.7857
2514  2006/11/09   11.9057  230712299.0   11.8443   12.0986   11.7314
2515  2006/11/08   11.7786  172220212.0   11.4329   11.8129   11.4129
2516  2006/11/07   11.5014  131461719.0   11.4929   11.5714   11.4471
2517  2006/11/06   11.3871  106381622.0   11.2786   11.4371   11.2043

[2518 rows x 6 columns]